*{
    margin: 0;
    padding: 0;
}


.card{
    color: white;

    background: radial-gradient(68.45% 162.14% at 76.23% 23.9%, rgba(250, 255, 26, 0.4) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(57.9% 176.74% at 18.19% 91.88%, #21DD83 0%, rgba(196, 196, 196, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(116.47% 116.47% at 50% 50%, #07B5FF 0%, rgba(7, 181, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    width: 350px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    bottom: 900px;
    margin: 30px;
}



.boddy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataCard{
    width: 250px;
    max-width: 240px;
    height: 20px;
    margin: 10px;
    max-width: 300px;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: .5px solid #2e2e2e;
    margin: 5px;
    padding: 2px 2px 2px 5px;
}


/*  */

.cardHolder{
    color: black;
    width: 220px;
    max-width: 220px;
    font-size: 14pt;
    margin-top: 0;
}

.cardBox{
    display: flex;
    flex-direction: row;
    /* margin-top: 100px; */
}

/*  */

.flag{
    margin-left: 30px;
}


.expDate{
    margin-bottom: 0px;
    font-size: 14pt;
    margin-top: 20px;
}

.number{
    margin-top: 30%;
}
